@mixin border-style($border-color, $margin, $border-radius) {
    box-sizing: border-box;
    border: none;
    border-top: 3px solid $border-color;
    margin: $margin;
    border-radius: $border-radius;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}